.wp-cmm_placeholderImage{position:relative;border: 1px dashed #888!important; background: #F2F8FF url('../img/map_location.png') no-repeat scroll center center;}
/*
.wp-cmm_placeholderImage[title]::before{
	content:attr(title);
  background-color: #F1F1F1;
	padding: 2px;
	position:absolute;
	top:0;
  left:0;
  z-index:50000;
  display:block;
	white-space:nowrap;
}
*/